engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
use-node-version=20.10.0
node-version=20.10.0
engine-strict=true
prefer-workspace-packages=true
save-exact=true
package-import-method=clone-or-copy

# Enforce pnpm
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@prettier/plugin-*
public-hoist-pattern[]=*prettier-plugin-*

# Prevent using other package managers
engine-strict=true
prefer-pnpm=true 